/* Тут пиши основные стили */

code {
    font-family: "Courier New", monospace;
    box-sizing: border-box;
}

h1 {
    font-family:  sans-serif;
    font-size:42px;
    color:rgba(0,0,0,0.84);
    text-align:left;
    line-height:44px;
}

h2 {
    font-family: sans-serif;
    font-size:34px;
    color:rgba(0,0,0,0.84);
    text-align:left;
    line-height:39px;
}

p {
    font-family:serif;
    font-size:21px;
    color:rgba(0,0,0,0.84);
    text-align:left;
    line-height:33px;
}

#list {
    list-style : none;
    background-color : #f2f0f0;
    border-color: black;
}

a:hover {
    text-decoration: underline;
    cursor: url("responsive-design/2744EFD6-B878-4DCB-B0D5-526F1B233733/9E1721B2-E123-44D1-BBA7-88E713A6A184@1x.png"), auto;
}

h3 {
    font-family:sans-serif;
    font-size:29px;
    color:#3f4540;
    text-align:left;
    line-height:39px;
}

.Block {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}

.Header{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.img {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.Header #FirstHeader{
    margin-top: 55px;
}
.Header #SecondHeader{
    margin-top: 55px;
}
.Header #ThirdHeader{
    margin-top: 56px;
}

.FirstPara and .SecondPara{
    margin-bottom: 43px;
}
.SecondPara and .ThirdPara{
    margin-top: 37px;
}
.ThirdPara{
    margin-bottom: 95px;
}

@media (max-width: 800px) {
/* Тут пиши стили для мобилки.
    Стили применятся только когда страничка будет ≤800px шириной
 */
}